body{
    background-color: #e2d8dd;
    color: #21727c;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 40px;
    text-align: justify;
}

h1{
    color: #d64933;
    text-align: center;
}

a{
    text-decoration: none;
    color: #21727c;  
    font-weight: bolder;
}

a:hover{
color: #00414b;
font-size: 26px;

}

#ignore{
    background-color: #e2d8dd;
    color: #21727c;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 20px;
}
#ignore:hover{
    color: #00414b;
font-size: 20px;
}

strong{
    font-size: 20px;
    font-weight: 900;
}
p{
    text-align: justify;
}
#profilePic{
    
}

ul{
    line-height: 25px;
}

#expList{
    line-height: 40px;
    font-size: 16px;
}

.aboutMe{
    text-indent: 30px;
}
.intLinks{
    margin: 50px;
    text-decoration: none;
    color: #21727c;  
    font-weight: bolder;
    font-size: 24px;

}